@model Blog.Contracts.ViewModels.PostDetailsViewModel
@{
    ViewBag.Title = "GetPostDetails";
}

<h2>@Model.Title <a class="btn btn-danger" href="@Url.Action("EditPost", "Post", new { postId = Model.PostId })">Edytuj</a></h2> 
<h4>@Model.CategoryName</h4>
<h5>@Model.DateOfAddition | @Model.UserName</h5>
<p>@Model.Content</p>

