@model List<Blog.Contracts.ViewModels.CommentViewModel>


<table class="table table-striped">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img src="@Url.Content(item.ImageUrl)" alt="Alternate Text" width="50" height="50" />
                </td>
                <td>
                    <h6><b>@item.UserName</b> | @item.DateOfAddition</h6>
                    <p>@item.Content</p>
                </td>
                <td>    
                    @using(Html.BeginForm("DeleteComment", "Comment", new { commentId = item.CommentId } ))
                    {
                        <button class="btn btn-danger">Usuń</button>
                    }
                    
                 </td>
                <td>
                    <a class="btn btn-warning" href="@Url.Action("EditComments", "Comment", new { commentId = item.CommentId })">Edytuj</a>
                </td>
            </tr>
        }
    </tbody>
</table>
