@model Blog.Model.Comment
@{
    ViewBag.Title = "AddComment";
}

@using (Html.BeginForm("EditComments", "Comment", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4></h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    @Html.HiddenFor(x => x.PostId)
    @Html.HiddenFor(x=>x.CommentId)
    @Html.HiddenFor(x=>x.DateOfAddition)
    @Html.HiddenFor(x=>x.UserId)
    <div class="form-group">
        @Html.LabelFor(m => m.Content, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Content, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Edytuj" />
        </div>
    </div>
}

